.body {
  font-size: 10cm;
}
.employees_table{
  width: 100%;
  margin: auto;
}

#EditEmployee,
#AddNewEmployee{
  float: right;
  margin: 30px;
}

#webcam{
  margin: 10px auto;
  text-align: center;
}

div.webcam{
  text-align: center;
  margin: 10px auto;
}

#picture{
  margin: 10px auto;
  display: none;
}

#btn_Remove{ display: none; }
#btn_Take{ display: block;}
#btn_Remove, #btn_Take{
  margin: auto;
}
div.mdl-layout__header-row{
  padding-left: 20px;
}

div.form_container{
  margin: 20px;
}

div.mdl-textfield{
  display: block;
  margin: auto;
  width: 400px;
}

label.mdl-textfield__floating-label{
  color: #BDBDBD;
}
